@page "/addArticle"

<PageTitle>CGI Order Handler</PageTitle>

<h1 class="text-center">Add Article</h1>

@* <EditForm>
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div style="width: 20vw">
        <p>
            <label class="form-label">Article name</label>
            <InputText class="form-control" @bind-value=""></InputText>
        </p>
    </div>
</EditForm> *@

@code {
    
}
